
body{
    background-color: black;
    overflow: hidden;
    margin-left: auto;
}
div.container{
    display: inline;
    position: absolute;
    width: 100%;
    height: 55%;
    margin-top:-370px;
    z-index: -2;
}
div.title{
    width: 100%;
    z-index:100;
}
img{
    width: 300px;
    display: block;
    margin: 0 auto;
    margin-top: 70px;
}
h1{
    font-size: 100px;
    font-family: helvetica neue;
    text-align: center;
    color: darkred;
    display: block;
}
div.container2{
    display: block;
    position: absolute;
    width: 100%;
    height: 24%;
    margin-top:260px;
    background-color: ;
    z-index: -5;
}
div.images_border{
    background-color: #b10000;
    display:inline-block;
    width:50%;
    overflow:scroll;
    margin-left: 25%;
    margin-top:85px;
    height:21vh;
    z-index: -5;
}
p{
    font-family: helvetica neue;
    font-size: 24px;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 40px;
}
div.doc{
    color: #b10000;
    margin-top: 20px;
    text-align: center;
    font-family: helvetica neue;
}
h3{
    font-family: helvetica neue;
    color: #b10000;
    font-size: 12px;
}
::-webkit-scrollbar {
display: none;
}
/*
div.submit{
    display: block;
    position: absolute;
    margin-left: 200px;
}
input{
    background-color: darkgray;   
}
textarea{
    background-color: ;
}
*/
